.switch {
  /* right: 4vw; */
  /* bottom: 4.5vh; */
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
 
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: var( --Link_color);
  -webkit-transition: .4s;
  transition: .4s;
 
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.wapper{
    padding-left: 45%;
    padding-top: 5%;
    background-color: var(--body_background);
    height: 100%;
    color: var( --body_color);
  
     
}


header{
  background-color:var( --header_color) ;
}


@media screen and (max-width:700px) {
  
  .slider:before{
    width: 14px;
    height: 14px;
  }

  .switch{
    width: 42px;
    height: 22px;
    top: 1vh;
    right: 4vw;
  }


  input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}
}